## Notbook con las transformaciones realizadas los DataSets originales.

In [1]:
import pandas as pd
import numpy as np
import ast

Primero cargaremos el dataset de **movies_dataset.csv** para realizar sus respectivas transformaciones.

In [2]:
movies = pd.read_csv('../assets/original/movies_dataset.csv', delimiter=',', encoding='utf-8')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

/tmp/ipykernel_3770/2781359134.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('../assets/original/movies_dataset.csv', delimiter=',', encoding='utf-8')

Como primer paso de la transformacion eliminamos las columnas que no se van a requerir: **video, imdb_id, adult, original_title, poster_path y homepage**.

In [3]:
movies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], inplace=True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  vote_count             45460 non-null  float64
dtypes: float64(4), object(14)
memory usage: 6.2+ MB

Continuamos con la correccion del formato de fecha. **DD/MM/AAA -> AAAA-MM-DD**

In [4]:
movies['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [5]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
movies['release_date'] = movies['release_date'].dt.strftime('%Y-%m-%d')
movies['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

En el siguiente paso eliminamos las filas que contengan valores nulos en el campo **release_date**

In [6]:
movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                90
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [7]:
movies.dropna(subset=['release_date'], inplace=True)
movies.isnull().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
dtype: int64

Creamos la columna **release_year** donde extraerán el año de la fecha de estreno.

In [8]:
release_year = pd.to_datetime(movies['release_date'])
movies['release_year'] = release_year.dt.strftime('%Y')
movies['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_year, Length: 45376, dtype: object

Como siguiente paso llenaremos los valores nulos de **revenue & budget** con 0

In [9]:
movies['revenue'].fillna(value=0, inplace=True)
movies['budget'].fillna(value=0, inplace=True)
movies.isnull().sum()

/tmp/ipykernel_3770/1790447788.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['revenue'].fillna(value=0, inplace=True)
/tmp/ipykernel_3770/1790447788.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['budget'].fillna(value=0, inplace=True)

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
release_year                 0
dtype: int64

Creamos la columna calculada **return** para saber el retorno de inversion que se tuvo en cada pelicula, en base a el **revenue y budget**. Cuando no se cuenta con un valor para calcularlo se tomara 0 como default.

In [10]:
movies['budget'] = movies['budget'].astype(float)
movie_return = {'return': []}

for (budget, revenue) in zip(movies['budget'], movies['revenue']):
    if budget != 0 and revenue != 0:
        movie_return['return'].append(revenue / budget)
    else:
       movie_return['return'].append(0)

movies['return'] = movie_return['return']

movies['return']

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4         0.000000
           ...
45460     0.000000
45462     0.000000
45463     0.000000
45464     0.000000
45465     0.000000
Name: return, Length: 45376, dtype: float64

Para poder trabajar con el dataset desde github, se eliminan todas las filas que contengan valores nulos.

In [11]:
movies.dropna(subset=['belongs_to_collection', 'overview', 'runtime', 'status', 'tagline'], inplace=True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2572 entries, 2 to 45358
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  2572 non-null   object
 1   budget                 2572 non-null   float64
 2   genres                 2572 non-null   object
 3   id                     2572 non-null   object
 4   original_language      2572 non-null   object
 5   overview               2572 non-null   object
 6   popularity             2572 non-null   object
 7   production_companies   2572 non-null   object
 8   production_countries   2572 non-null   object
 9   release_date           2572 non-null   object
 10  revenue                2572 non-null   float64
 11  runtime                2572 non-null   float64
 12  spoken_languages       2572 non-null   object
 13  status                 2572 non-null   object
 14  tagline                2572 non-null   object
 15  title                  2572 non-null   object
 16  vote_average           2572 non-null   float64
 17  vote_count             2572 non-null   float64
 18  release_year           2572 non-null   object
 19  return                 2572 non-null   float64
dtypes: float64(6), object(14)
memory usage: 422.0+ KB

Se crea el dataset con el que trabajara la API.

In [12]:
movies.to_csv('../assets/movies.csv', header=True, index=False)

Ya realizadas las transformaciones del dataset **movies_dataset.csv**, se trabajara con **credits.csv**.

Este dataset cuenta con dos campos anidados **cast** & **crew**. para poder trabajar los endpoints **get_actor** & **get_director** se crearan tres datasets nuevos.

In [13]:
credits = pd.read_csv('../assets/original/credits.csv', delimiter=',', encoding='utf-8')
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

Primero eliminaramos todas las peliculas que se removieron del dataset **movies_dataset.csv**

In [14]:
movies_id = movies['id'].astype(int)
credits = credits[credits['id'].isin(movies_id)]
credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2572 entries, 2 to 45368
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    2572 non-null   object
 1   crew    2572 non-null   object
 2   id      2572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 80.4+ KB

In [15]:
actors = credits.drop(columns='crew')
directors = credits.drop(columns='cast')

Despues crearemos un dataframe con el **nombre del actor**, el **retorno de inversion** & el **revenue total** de las peliculas en que participo

In [16]:

actors['cast'] = actors['cast'].apply(ast.literal_eval)
actors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2572 entries, 2 to 45368
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    2572 non-null   object
 1   id      2572 non-null   int64
dtypes: int64(1), object(1)
memory usage: 60.3+ KB

In [17]:
actors_exploded = actors.explode('cast')
actors_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53116 entries, 2 to 45368
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    53102 non-null  object
 1   id      53116 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [18]:
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 21925].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 14277].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 26769].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 23521].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 84177].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 77269].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 174322].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 23504].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 314407].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 39057].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 47292].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 303903].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 382581].index)
actors_exploded = actors_exploded.drop(actors_exploded[actors_exploded.id == 160399].index)

actors_names = []

for actor in actors_exploded['cast']:
    actors_names.append(actor['name'])
    
actors_exploded['cast'] = actors_names

In [19]:
movies_revenue = movies.filter(['id','revenue'])
movies_revenue['id'] = movies_revenue['id'].astype(int)
actors_revenue = actors_exploded.merge(movies_revenue, on='id')
actors_revenue['movies'] = 1
actors_revenue = actors_revenue.drop(columns='id')
actors_revenue = actors_revenue.groupby('cast').sum()

In [20]:
movies_return = movies.filter(['id','return'])
movies_return['id'] = movies_return['id'].astype(int)
actors_return = actors_exploded.merge(movies_return, on='id')
actors_return = actors_return.drop(columns='id')
actors_return = actors_return.groupby('cast').mean()

In [21]:
actors_analizis = actors_revenue.merge(actors_return, on='cast')
actors_analizis.to_csv('../assets/actors.csv', header=True, index=True)

El ultimo paso sera crear un dataset con el ID de la pelicula & el nombre del director

In [22]:
directors['crew'] = directors['crew'].apply(ast.literal_eval)
directors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2572 entries, 2 to 45368
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crew    2572 non-null   object
 1   id      2572 non-null   int64
dtypes: int64(1), object(1)
memory usage: 60.3+ KB

In [23]:
crew_exploded = directors.explode('crew')
crew_exploded['crew'].dropna()
crew_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58454 entries, 2 to 45368
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crew    58451 non-null  object
 1   id      58454 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [24]:
crew_exploded.isna().sum()

crew    3
id      0
dtype: int64

In [25]:
crew_exploded = crew_exploded.drop(crew_exploded[crew_exploded.id == 133716].index)
directors = directors.drop(directors[directors.id == 133716].index)
crew_exploded = crew_exploded.drop(crew_exploded[crew_exploded.id == 62900].index)
directors = directors.drop(directors[directors.id == 62900].index)
crew_exploded = crew_exploded.drop(crew_exploded[crew_exploded.id == 98440].index)
directors = directors.drop(directors[directors.id == 98440].index)

directors_names = {'name': [], 'id': []}

for id in range(len(crew_exploded['crew'])):
    movie_id = crew_exploded.iloc[id]['id']
    if crew_exploded.iloc[id]['crew']['job'] == 'Director':
        directors_names['name'].append(crew_exploded.iloc[id]['crew']['name'])
        directors_names['id'].append(movie_id)
    
directors_movie = pd.DataFrame(data=directors_names)
directors_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893 entries, 0 to 2892
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2893 non-null   object
 1   id      2893 non-null   int64
dtypes: int64(1), object(1)
memory usage: 45.3+ KB

In [26]:
directors_movie.to_csv('../assets/directors.csv', header=True, index=False)